*
{
    font-family: 'Courier New', Courier, monospace;
}
body
{
    background-image: linear-gradient(to right, black,grey, white, grey, black );

}
h1
{
    text-align: center;
}
.container
{
    display: flex;
    margin-top: 100px;
}
button
{
    min-width: fit-content;
    width: 30%;
    height: 300px;
    background-image: linear-gradient(to left, coral, blue );
    font-size: 56px;
    color: antiquewhite;
    border-radius: 50px;
    border:5px groove coral;
    margin: 15px;
}
#btn_id_2
{
    position: relative;

    top: 100px;
}
.info
{
    flex-direction: column;
    align-items: center;
}